# --- Lingkungan Virtual (Virtual Environment) ---
# Folder ini berisi semua library yang diinstal dan spesifik untuk mesin lokal.
# Ukurannya besar dan tidak boleh dimasukkan ke Git.
.venv/
venv/
*.env

# --- File Model Machine Learning ---
# File model seperti .pt, .onnx, dll., biasanya berukuran besar dan
# seringkali diunduh secara otomatis oleh library. Jangan masukkan ke Git.
*.pt
*.onnx
*.engine

# --- Cache & File Kompilasi Python ---
# Dibuat secara otomatis oleh Python saat runtime.
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Folder Spesifik IDE/Editor ---
# Menyimpan pengaturan personal untuk editor kode Anda.
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# --- File Log dan Output ---
# Jika program Anda menghasilkan file log atau output lainnya.
*.log
/runs/

